<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <span class="navbar-brand">
    <i class="fa fa-bar-chart"></i> Gov Dash</span>
  <div class="collapse navbar-collapse">

    <ul class="navbar-nav mr-auto" *ngIf="this.user">
      <li class="nav-item">
        <a class="nav-link" routerLink="/execution">סטטוס ביצוע</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blockers">חסמים</a>
      </li>
    </ul>

    <ul class="navbar-nav" *ngIf="this.user">
      <li class="nav-item">
        <a class="nav-link">Hello, {{this.user.name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    
  </div>
</nav>