nav{
    height: 2.5em;
}

.collapse navbar-collapse {
    margin-left: 30px;
}

.nav-link {
    display: flex;
    text-align: right;
    height: 5.7rem;
    letter-spacing: 0.1rem;
    color: rgb(179, 179, 179);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    transition: all 0.3s 
}