<div class="container-fluid">
  <div class="headline">סטטוס ביצוע משימות</div>
  <div class="loader" *ngIf="!chart">
    <div class="pacman"></div>
    <div class="dot"></div>
  </div>
  <div class="container">
    <div *ngIf="chart">
      <select [(ngModel)]="selected" (ngModelChange)="updateChart()" class="filter">
        <option *ngFor="let option of filterOptions; let i = index" value={{i}}>{{option.optionName}}</option>
      </select>
      <bar-chart [data]="chart" [chartId]="'chartEId'"></bar-chart>
      <pie-chart [data]="pie1" [chartId]="'chartPie1'"></pie-chart>
      <pie-chart [data]="pie2" [chartId]="'chartPie2'"></pie-chart>
    </div>
  </div>
</div>