.loader{
  margin: 12em 0em 0em 0em;
  position: absolute;
  width: 100%;
}
  
.headline {
  font-size: 34px;
  word-spacing: 5px;
  padding-top: 0.9em;
  top: 1.5em;
  height: 2.7em;
  border-radius: 0.5em;
  background: white;
  position: sticky;
  z-index: 1;
  width: 100%;
}

/*filter css*/
.form-group {
  margin: 1rem;
  margin-bottom: 0;
  direction: rtl;
  background-color: #ffffffe6;
}
.filter {
  margin: 0.5em;
}