.container-fluid{
  padding-top: 8em;
}

.loader{
  margin: 12em 0em 0em 0em;
  position: absolute;
  width: 100%;
}
  
.headline {
  font-size: 34px;
  word-spacing: 5px;
  padding-top: 0.9em;
  top: 1.5em;
  height: 2.7em;
  border-radius: 0.5em;
  background: white;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.filter {
  direction: rtl;
}