form {
    margin-top: 5em;
}

a {
    display: inline-block;
    background: #f5efef;
    color: black;
    border-radius: 5px;
    border: thin solid #888;
    white-space: nowrap;
    margin-top: 15px;
    padding: 6px;
}

a:hover {
    cursor: pointer;
}

.wellcome {
    color: #fff;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 500;
    line-height: 45px;
    padding-top: 100px;
}