<navbar></navbar>

<div style="text-align:center">
  <div class="under-nav"></div>

<router-outlet></router-outlet>

  <a href="http://localhost:3000/api/google/auth">
    <!-- <button (click)="login()">Login</button> -->
    Sign In with Google
  </a>

<!-- <div *ngIf="files.length > 0">
  <ul>Your Google sheets files:
    <li *ngFor="let file of files">{{file.name}} (id: {{file.id}})</li>
  </ul>

  <div>
    Choose your file (type the id):
    <input type="text" [(ngModel)]="inputText" placeholder="file id here" />
    <button (click)="getSheets()">Go</button>
  </div>

  <div *ngIf="sheets.length > 0">
    <div>Your data in the file:</div>
    {{sheets}}
  </div>
</div>
</div> -->