.error-template {
    padding: 40px 15px;
    font-size: 36px;
    font-size: 40px;
    margin-top: 15px;
    color: #1CD3CB;
    text-transform: uppercase;
    font-family: 'Fenix', serif;
}

.error-details {
    font-size: 36px;
    font-size: 20px;
    line-height: 1.6em;
    color: white;
    margin-bottom: 20px;;
}

.error-actions {
    margin-top:15px;
    margin-bottom:15px;
    color: white; 
}

.error-actions .btn {
    margin-right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 13px;
    color: #EEE;
    box-shadow: inset 1px -2px 8px rgba(0, 0, 0, 0.33);
    margin: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

* {
    font-size: 36px;
    text-align: center;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    background:#314D68;

}